.saludoInicio{
    font-family: 'Poppins', sans-serif;
    color: black;
    padding:30px 0 50px 20px;
}
.contenedorMain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    max-width: 65%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
}
.contenedorFiltro{
    display: flex;
    justify-content: flex-start;
    width: 20%;
}
.contenedorItemList{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
}