.contenedorProducto{
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 20px;
    width: 284px;
    height: 556px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 50px;
    -webkit-box-shadow: 3px 3px 10px 3px #747474;
    -moz-box-shadow: 3px 3px 10px 3px #747474;
    box-shadow: 3px 3px 10px 3px #747474;
    transition: transfor .005s;;
}
.contenedorProducto:hover{
    transform: scale(1.15);
}

.contenedorImagenCard img{
    border-radius: 20px 20px 0 0;
}
.separador{
    width: 250px;
    height: 3px;
    margin: 0 auto;
    background: #814712;
    background: -webkit-linear-gradient(270deg, #814712 0%, #d9a05d 100%);
    background: linear-gradient(270deg, #814712 0%, #d9a05d 100%);
    border-radius: 5px;
}
.contenedorDatosItem{
    display: flex;
    flex-direction: column;
    align-content:flex-start ;
} 

.contenedorVerProducto button{
    min-width: 284px;
    min-height: 50px;
    font-size: 18px;
    background-color: #085cd8;
    color: antiquewhite;
    border-radius: 0 0 20px 20px;
    border: 0;
}