.contenedorItemDetail{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 2px dotted black;
    border-radius: 10px;
}

.contenedorImagenDetail{
    border: 2px dotted blue;
}
.contenedorImagenDetail img{
    max-width: 100%
}

.contenedorInfoDetail{
    min-width: 60%;
    border: 2px dotted red;
}
.contenedorItemCount{
    min-width: 20%;
    border: 2px dotted green;
    display: flex;
    align-items: center;
    justify-content: center;
}